@model IEnumerable<Lets_Travel.Models.Hotel>

@{
    ViewData["Title"] = "GetHotels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main">

    <div class="AllHotels">
        <div class="top"></div>
        <div class="mid"></div>
        <div class="foot"></div>
    </div>    



</div>