
@{
    ViewData["Title"] = "_User";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        body{
            background-color:white;
        }
        header{
        position:relative;
        }
        .userHeader{
            width:100%;

        }
        .login{
            width:50%;
            text-align:center;
            font-size:40px;
        }
        .active{
        background-color:brown;
        }
    </style>
}

<div class="userLayout row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="userHeader">
                <ul class="nav nav-tabs card-header-tabs" style="width:100%;">
                    <li class="nav-item login">
                        <a  asp-controller="userAccount" asp-action="Login" class="nav-link" id="login">Login</a>
                    </li>
                    <li class="nav-item login">
                        <a  asp-controller="userAccount" asp-action="SignUp" class="nav-link" id="signup">SignUp</a>
                    </li>
                </ul>
            </div>
            <div class="userBody">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
                <script type="text/javascript">
                    let login = document.getElementById("login");
                    login.addEventListener('click', setActive());
                    let signup = document.getElementById("signup");
                    signup.addEventListener('click', setActive());
                    function setActive() {
                        
                        signup.style.backgroundColor = "yellow";
                    }
                </script>
            }