@model Lets_Travel.Models.GetFlights

@{
    ViewData["Title"] = "GetFlights";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        body{
        background-color:wheat;
        }
    </style>
}

<h1>GetFlights</h1>

<h4>GetFlights</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetFlights">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FlightFrom" class="control-label"></label>
                <input asp-for="FlightFrom" class="form-control" />
                <span asp-validation-for="FlightFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightTo" class="control-label"></label>
                <input asp-for="FlightTo" class="form-control" />
                <span asp-validation-for="FlightTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnDate" class="control-label"></label>
                <input asp-for="OnDate" class="form-control" />
                <span asp-validation-for="OnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

